@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

html, body {
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to bottom, #b2fffb, #003cff);
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

header {
    width: 100%;
    background: #000547;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: background 0.3s ease;
}

.header-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo img {
    max-width: 160px;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

.menu ul li {
    display: inline;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    transition: color 0.3s ease;
}

.menu ul li a:hover {
    color: #00f2fa;
}

.cta {
    display: flex;
    align-items: center;
}

.btn-cta {
    background: #0022BB;
    color: #ffffff;
    padding: 8px 16px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1em;
    font-weight: 700;
    transition: background 0.3s ease, color 0.3s ease;
}

.btn-cta:hover {
    background: #207cb2;
    color: #fff;
}

.conteudo-cabecalho {
    width: 100%;
    margin: 0 auto;
    margin-top: 140px;
}

#titulo-futuroazul {
    display: inline-block;
    position: relative;
    text-shadow: #ffffff;
}

#titulo-futuroazul::before {
    content: '';
    position: absolute;
    top: 0;
    left: -20px;
    right: 0;
    bottom: 0;
    background: rgb(245, 245, 245);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding-right: 50px;
    transform: skew(-10deg);
    z-index: -1;
}

.texto-cabecalho {
    background: linear-gradient(to right, #00c6ff, #0072ff);
    padding: 30px;
    border-radius: 10px;
    line-height: 1.6;
    margin: 20px;
    margin-bottom: 5em;
}

.texto-cabecalho h1 {
    font-size: 3em;
    margin: 0;
    color: #fff;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family:'Montserrat', sans-serif;
}

.texto-cabecalho h2 {
    font-size: 2em;
    margin: 10px 0;
    font-weight: 900;
    color: #fff;
}

.texto-cabecalho p {
    font-size: 1.2em;
    color: #fff;
}

.meta-atingida {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0022bb;
    margin-top: 0;
    width: 100%;
    z-index: 1000; 
    transition: opacity 0.5s ease;
    position: fixed;

}

.texto-meta .destaque {
    font-weight: 700;
    font-size: 1.5em;
}

.texto-meta {
    font-size: 0.9em;
    color: #ffffff;
    font-weight: 700;
}

.pequeno-texto {
    background: linear-gradient(to right, #0004ff, #4400ff);
    border-radius: 15px;
    padding: 15px 15px 15px 15px;
    box-shadow: 0 0px 5px #00000050;
}

.contagem-atual {
    font-size: 8em;
    font-weight: 900;
    text-shadow: 2px 2px 4px #00000065;
    text-align: center;
    color: white;
    margin-top: auto;
    margin-bottom: 90px;
    white-space: nowrap;
}

.contagem-sub{
    font-size: 0.3em;
    font-weight: 300;
    margin-top: -150px;
}

main {
    padding-top: 11.5em;
    width: 100%;
}

.secao-doacao {
    background: white;
    border-radius: 15px;
    padding: 50px;
    margin: 30px auto;
    text-align: center;
    max-width: 400px;
    box-shadow: 0 4px 15px #ffffff94;
}

.bluef{
    color: #ffffff;
    background-color: #0026FF;
    border-radius: 10px;
    padding-right: 40px;
    padding-left: 40px;
}

.secao-doacao h2 {
    margin-top: 0;
    font-size: 2em;
    font-weight: 700;
}

.secao-doacao p {
    font-size: 1.2em;
    margin: 10px 0 30px;
}

.container-botoes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.botao-doacao {
    width: 100%;
    background-color: #f8f8f8;
    color: #333;
    border: none;
    padding: 15px 0;
    border-radius: 10px;
    border: 1px solid #cbd9db;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.botao-doacao:hover {
    background-color: #e0e0e0;
}

.botao-doacao.selecionado {
    background-color: #001b64;
    color: white;
}

.doacao-customizada {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
    flex-direction: column;
}

.doacao-customizada input {
    width: 90%;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cbd9db;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    margin-bottom: 10px;
}
.linha-cinza {
    width: 100%;
    height: 2px;
    background-color: #EAECF0;
    margin-bottom: 10px;
}

.doacao-customizada .botao-doar {
    width: 100%;
    background-color: #0026ff;
    color: white;
    border: none;
    padding: 15px 0;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.doacao-customizada .botao-doar:hover {
    background-color: #001fcc;
}

.separador {
    text-align: center;
    margin: 10vh 10vh;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
}

#popup-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#popup-form input {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#confirmar-doacao {
    background-color: #003cff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

#confirmar-doacao:hover {
    background-color: #0026cc;
}

#popup-pesquisa {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content-pesquisa {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

.close-popup-pesquisa {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-popup-pesquisa:hover,
.close-popup-pesquisa:focus {
    color: black;
}

#popup-form-pesquisa {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#input-pesquisa {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#confirmar-pesquisa {
    background-color: #003cff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

#confirmar-pesquisa:hover {
    background-color: #0026cc;
}

.botao-separa {
    background: linear-gradient(45deg, #0026FF, #3352fd);
    color: white;
    border: none;
    padding: 20px 40px;
    border-radius: 50px;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Montserrat', sans-serif;
}

.botao-separa i {
    font-size: 1.5em;
}

.botao-separa:hover {
    background: linear-gradient(45deg, #0026cc, #6d88ff);
}

.tabela-lideres {
    background: white;
    border-radius: 15px;
    padding: 30px;
    margin: 20px auto;
    text-align: center;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tabela-lideres .controles-tabela button {
    background-color: #003cff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.tabela-lideres .controles-tabela button:hover {
    background-color: #0026cc;
}

.tabela-lideres h2 {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 20px;
}

.controles-tabela {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.controles-tabela button {
    background-color: #008000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.controles-tabela button:hover {
    background-color: #006400;
}

#tabela-lideres {
    list-style-type: none;
    padding: 0;
}

#tabela-lideres li {
    background: #f0f0f0;
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
}

#menu-btn {
    display: none; 
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    font-size: 0.9em;
    width: 100%;
}

@media (max-width: 1200px) {
    .header-container {
        padding: 0 15px;
    }

    .menu ul {
        gap: 10px;
    }

    .menu ul li a {
        font-size: 0.9em;
    }

    .btn-cta {
        padding: 8px 12px;
        font-size: 0.9em;
    }
}

@media (max-width: 992px) {
    .header-container {
        padding: 0 10px;
    }

    .logo img {
        max-width: 180px;
    }

    .menu ul {
        gap: 8px;
    }

    .menu ul li a {
        font-size: 0.8em;
    }

    .btn-cta {
        padding: 6px 10px;
        font-size: 0.8em;
    }

    .conteudo-cabecalho {
        padding: 0 20px;
    }

    .texto-cabecalho h1 {
        font-size: 2em;
    }

    .texto-cabecalho h2 {
        font-size: 2.5em;
    }

    .texto-cabecalho p {
        font-size: 1.1em;
    }

    .meta-atingida img {
        width: 25%;
    }

    .texto-meta {
        font-size: 1em;
    }

    .texto-meta .destaque {
        font-size: 1.2em;
    }

    .contagem-atual {
        font-size: 8em;
    }
}

@media (max-width: 768px) {

    .header-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .menu {
        position: relative;
    }

    #menu-list {
        display: none;
        position: absolute;
        top: calc(100% + 10px);
        right: 0;
        width: 150px;
        background-color: #000;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        z-index: 1100;
    }

    #menu-list.active {
        display: block;
        z-index: 1100;
    }

    #menu-list li {
        text-align: center;
        margin-bottom: 10px;
        z-index: 1100;
    }

    #menu-btn {
        display: block;
        background: none;
        border: none;
        color: #fff;
        font-size: 1.5em;
        cursor: pointer;
    }

    .cta {
        display: none;
    }

    .logo img {
        max-width: 150px;
    }

    .menu ul {
        flex-direction: column;
        gap: 5px;
        align-items: flex-start;
    }

    .menu ul li {
        display: block;
        z-index: 1100;
    }

    .menu ul li a {
        font-size: 1em;
    }

    .cta {
        margin-top: 10px;
    }

    .btn-cta {
        padding: 8px 12px;
        font-size: 1em;
    }

    .meta-atingida {
        padding: 10px;
    }

    .texto-meta {
        font-size: 0.9em;
    }

    .meta-atingida img {
        width: 15%;
    }

    .botao-separa {
        width: 100%;
        font-size: 0.9em;
    }

    .conteudo-cabecalho {
        padding: 0 10px;
    }

    .contagem-atual {
        font-size: 0.3em;
    }

    .contagem-sub {
        margin-top: auto;
    }

    .texto-cabecalho h1 {
        font-size: 1.8em;
    }

    .texto-cabecalho h2 {
        font-size: 2.2em;
    }

    .texto-cabecalho p {
        font-size: 1em;
    }

    .meta-atingida img {
        width: 30%;
    }

    .texto-meta {
        font-size: 0.9em;
    }

    .texto-meta .destaque {
        font-size: 1.1em;
    }

    .contagem-atual {
        font-size: 6em;
    }

    .secao-doacao {
        padding: 40px;
        margin: 20px auto;
    }

    .secao-doacao h2 {
        font-size: 1.8em;
    }

    .secao-doacao p {
        font-size: 1em;
    }

    .menu ul {
        display: none;
        flex-direction: column;
        gap: 10px;
        z-index: 1100;
    }

    #menu-btn {
        display: block;
        font-size: 1.5em;
        background: none;
        border: none;
        color: white;
        cursor: pointer;
    }

    .menu ul li {
        display: block;
        text-align: center;
        margin: 10px 0;
        z-index: 1100;
    }

    .cta {
        order: 3;
    }
}

@media (max-width: 576px) {
    .logo img {
        max-width: 120px;
    }

    .menu ul {
        align-items: center;
    }

    .menu ul li a {
        font-size: 0.8em;
    }

    .btn-cta {
        padding: 6px 50px;
        font-size: 0.18em;
    }

    .texto-cabecalho h1 {
        font-size: 1.5em;
    }

    .texto-cabecalho h2 {
        font-size: 2em;
    }

    .texto-cabecalho p {
        font-size: 0.9em;
    }

    .contagem-atual {
        font-size: 5em;
    }

    .secao-doacao {
        padding: 30px;
        margin: 20px auto;
    }

    .secao-doacao h2 {
        font-size: 1.5em;
    }

    .secao-doacao p {
        font-size: 0.9em;
    }

    .botao-doacao {
        padding: 12px 0;
        font-size: 1em;
    }

    .botao-doacao.dark {
        font-size: 1em;
    }

    .doacao-customizada input {
        padding: 12px;
        font-size: 1em;
    }

    .doacao-customizada .botao-doar {
        padding: 12px 0;
        font-size: 1em;
    }
}

@media (max-width: 400px) {
    .menu ul {
        flex-direction: column;
        align-items: center;
    }

    .menu ul li a {
        font-size: 0.7em;
    }

    .btn-cta {
        padding: 5px 8px;
        font-size: 0.7em;
    }

    .texto-cabecalho h1 {
        font-size: 1.2em;
    }

    .texto-cabecalho h2 {
        font-size: 1.8em;
    }

    .texto-cabecalho p {
        font-size: 0.8em;
    }

    .meta-atingida img {
        width: 40%;
    }

    .texto-meta {
        font-size: 0.7em;
    }

    .texto-meta .destaque {
        font-size: 0.9em;
    }

    .contagem-atual {
        font-size: 4em;
    }

    .secao-doacao {
        padding: 20px;
        margin: 10px auto;
    }

    .secao-doacao h2 {
        font-size: 1.2em;
    }

    .secao-doacao p {
        font-size: 0.8em;
    }

    .botao-doacao {
        padding: 10px 0;
        font-size: 0.9em;
    }

    .botao-doacao.dark {
        font-size: 0.9em;
    }

    .doacao-customizada input {
        padding: 10px;
        font-size: 0.9em;
    }

    .doacao-customizada .botao-doar {
        padding: 10px 0;
        font-size: 0.9em;
    }
}